---
import Tag from "@components/ui/Tag.astro";
import {TYPE_OF_SERVICES} from "./service.data"
import ServiceCard from "./ServiceCard.astro";
---
<section class="max-w-7xl mx-auto py-24 border-t border-(--border-subtle)/20">
  <header class=" mb-16 md:mb-24 reveal grid place-content-center">
    <div aria-hidden="true" class="grid place-content-center">
      <Tag label="Servicios" />
    </div>
    <h2 class="text-5xl text-center md:text-7xl lg:text-8xl font-extrabold tracking-tighter text-(--text-primary) leading-[1.1]">
      Sistemas diseñados para <br/>
      <span class="bg-linear-to-r from-gray-500 to-gray-300 bg-clip-text text-transparent">escalar tu negocio.</span>
    </h2>

    <p class="text-base text-center text-(--text-secondary) leading-relaxed max-w-4xl">
      Desarrollo soluciones digitales que eliminan procesos manuales y organizan tu flujo de trabajo. Software sólido, concebido desde cero para cubrir las necesidades reales de tu operación diaria.
    </p>
  </header>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12">
    {TYPE_OF_SERVICES.map((service, i) => (
      <div class="reveal" style={`--delay: ${200 + i * 100}ms`}>
        <ServiceCard service={service} idx={i} />
      </div>
    ))}
  </div>
</section>
