---
import Project from "./Project.astro"
import { IProject } from '@/shared/types'

interface Props {
    data: IProject[]
}

const {data} = Astro.props
---

<ol class="flex flex-col gap-16">      
    {
        data.map((item) => (     
            <li>            
                <Project project={item} />
            </li>
        ))
    }            
</ol>