---
import Tag from './Tag.astro'

interface Props {
    options: string[]
    active: string
}

const {options, active} = Astro.props
---


<nav aria-label="Filtro de proyectos" class="flex items-center flex-wrap text-xs mb-4 gap-2">
    <span class="capitalize font-semibold">filtros: </span>
    {options.map(option => {
        return (
            <button aria-pressed={active === option} class={`text-gray-600 inline-flex px-2 py-1.5 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 border transition ${active === option ? "bg-blue-600 text-white border-blue-600" : "border-gray-300 hover:bg-gray-100"}`} data-filter={option}>
                {option}
            </button>
        )
    })}
</nav>