---
interface Props {
    text: string
    keywords: Record<string, string>
}

const {text, keywords} = Astro.props

// TODO: Refactorizar y pasar a un sript
function escapeRegExp(str: string) {
  return str.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
}

function highlightKeywords(text: string, colorsMap: Record<string, string>) {
  Object.entries(colorsMap).forEach(([keyword, colorClass]) => {
    const escaped = escapeRegExp(keyword);

    // Lookarounds para evitar texto dentro de tags HTML
    const regex = new RegExp(`(?<!<[^>]*)(\\b${escaped}\\b)(?![^<]*>)`, "gi");

    text = text.replace(regex, `<span class="${colorClass}">$1</span>`);
  });

  return text;
}


const highlightedKeywords = highlightKeywords(text, keywords);

---

<div    
    class="text-base sm:text-[15px] w-3xl leading-relaxed tracking-tight text-center mt-1 sm:text-left"
  >
  <p id="highlighted-keywords" set:html={highlightedKeywords}></p>
</div>