@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import './theme.css';
@import './animations.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-(--bg-main) text-(--text-primary) antialiased selection:bg-(--accent-glow);
    font-family: "Geist", sans-serif;
  }


  h1,
  h2,
  h3 {
    @apply font-semibold tracking-tight;
  }

  *,
  ::after,
  ::before {
    border-color: var(--border-subtle);
  }
}

@layer components {
  /* Clase para tarjetas estilo Glassmorphism */
  .glass-card {
    @apply backdrop-blur-md bg-(--bg-card) border border-(--border-subtle) rounded-xl;
  }

  /* Gradiente para textos importantes */
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-(--accent-primary) to-(--accent-secondary);
  }
}

/* Scrollbar minimalista */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
  background: var(--border-subtle);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}
