@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import './theme.css';
@import './animations.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--bg-main);
    color: var(--text-secondary);
    font-family: 'Inter Variable', sans-serif;
  }

  h1,
  h2,
  h3 {
    color: var(--text-primary);
    font-family: 'Space Grotesk Variable', sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  *,
  ::after,
  ::before {
    border-color: var(--border-subtle);
  }
}

@layer components {
  .glass-card {
    @apply backdrop-blur-md bg-(--bg-card) border border-(--border-subtle) rounded-xl;
  }

  /* Gradiente para textos importantes */
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-(--accent-primary) to-(--accent-secondary);
  }
}

/* Scrollbar minimalista */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
  background: var(--border-subtle);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}
