:root {
    --bg-main: #fafafa;
    --bg-card: #f4f4f5;
    --border-subtle: #e4e4e7;

    /* Texto: Negros y grises */
    --text-primary: #18181b;
    --text-secondary: #52525b;
    --text-muted: #a1a1aa;

    --accent-soft: #27272a; 
}
