<main
  id="main"
  class="px-6 grow prose-img:m-0 prose max-w-none dark:prose-invert w-full prose-h1:font-bold prose-h1:text-xl prose-headings:no-underline prose-ul:list-none prose-ul:m-0 prose-ul:p-0 prose-ol:list-none prose-ol:p-0"
>
  <slot />
</main>