---
import Layout from "@/layouts/Layout.astro";
import Projects from "../sections/Projects.astro";
import Education from "../sections/Education.astro";
import Hero from "../sections/Hero.astro";
import Footer from "@/ui/Footer.astro";
import Knowledge from "../sections/Knowledge.astro";
import cv from "@/cv.json";

const { name, label} = cv.basic;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main
    id='app'
    class='flex grow flex-col gap-6 max-w-4xl text-sm p-6'
  >
    <Hero />
    <Education />
    <Projects />
    <Knowledge />
  </main>
  <Footer />
</Layout>
