<footer
  class="w-full py-10 mt-10 flex items-center justify-center text-sm font-light backdrop-blur-sm"
>
  <p class="flex items-center gap-1.5">
    Hecho con
    <span class="">💙</span>
    por
    <a
      href="https://github.com/enriqueSFranco"
      target="_blank"
      rel="noopener noreferrer"
      class="font-medium transition-colors duration-200 inline-flex items-center gap-1"
    >
      @enriqueSFranco
    </a>
  </p>
</footer>
