---
import { highlightKeywords } from "@utils/highlightKeywords";

interface Props {
  text: string;
  keywords: Record<string, string>;
}

const { text, keywords } = Astro.props;

const highlightedKeywords = highlightKeywords(text, keywords);
---

<div class="prose prose-invert prose-zinc text-center text-sm md:text-base max-w-xl hero-animate delay-3 font-extralight leading-relaxed tracking-tight mt-1">
  <p id="highlighted-keywords" set:html={highlightedKeywords} />
</div>
