---
import { highlightKeywords } from "@utils/highlightKeywords";

interface Props {
  text: string;
  keywords: Record<string, string>;
}

const { text, keywords } = Astro.props;

const highlightedKeywords = highlightKeywords(text, keywords);
---

<div
  class="text-base leading-relaxed tracking-tight mt-1 text-center"
>
  <p id="highlighted-keywords" set:html={highlightedKeywords} />
</div>
