<section
  id="educacion"
  aria-labelledby="education-title"
  class="min-h-screen flex flex-col justify-center px-4 py-16 sm:px-6 md:px-12 prose lg:prose-xl"
>
  <h2
    id="education-title"
    class="text-3xl md:text-4xl font-semibold mb-10 tracking-tight capitalize"
  >
    educación
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 rounded-3xl bg-white/5 backdrop-blur-lg border border-white/10 shadow-[0_8px_30px_rgb(0,0,0,0.15)]">
    <div class="flex flex-col gap-3">
      <h3 class="text-lg sm:text-xl font-semibold leading-snug">
        Instituto Politécnico Nacional
        <span class="block text-base font-normal text-gray-400">
          Escuela Superior de Cómputo (ESCOM)
        </span>
      </h3>

      <p class="text-sm sm:text-base md:text-lg text-gray-300 leading-relaxed">
        Ingeniería en Sistemas Computacionales
      </p>
    </div>

    <div class="flex flex-col justify-between">
      <div class="flex flex-col">
        <p class="font-medium text-sm sm:text-base text-gray-400">Periodo</p>
        <p class="text-sm sm:text-base md:text-lg font-medium">
          Enero 2017 — Enero 2023
        </p>
      </div>
    </div>
    <div class="h-1 w-full mt-6 rounded-full bg-gradient-to-r from-cyan-400/30 to-blue-500/30"></div>
    </div>
  </div>
</section>
