---
import { TAGS } from "@/shared/constants.d";
import cv from "@/cv.json";

const { technical } = cv.skills;
---

<section class='leading-normal text-balance flex flex-col gap-4'>
  <header class='flex items-center justify-start gap-1'>
    <h2 class='text-2xl capitalize font-semibold'>tecnologías</h2>
  </header>
  <ul class='w-full h-full flex flex-wrap items-center gap-3 font-light'>
    {
      technical.map((tech) => {
        const techKey = tech.replace(/\s+/g, "_").toUpperCase();
        const tag = TAGS[techKey];
        if (!tag) return null;

        const { class: className, name, icon } = tag;
        return (
          <li class={`flex items-center gap-2`}>
            <span
              class={`inline-flex rounded-full px-2 py-1.5 ${className} text-xs`}
            >
              <img src={icon} alt={tech} class='inline-block w-4 h-4 mr-2' />
              {name}
            </span>
          </li>
        );
      })
    }
  </ul>
</section>
