---
import ProjectsGrid from "@components/ProjectsGrid.astro";

---

<section id="proyectos" aria-labelledby="projects-title" class="min-h-screen flex flex-col gap-3 sm:gap-4 md:gap-6 justify-start items-start w-full">
  <h2 id="projects-title" class="text-xl sm:text-2xl md:text-3xl font-semibold capitalize">
    Proyectos
  </h2>

  <ProjectsGrid />
</section>

