---
import ProjectsGrid from "@/ui/ProjectsGrid.astro";
---

<section aria-labelledby="projects-title" class="flex flex-col gap-3 sm:gap-4 md:gap-6 justify-start items-start w-full">
  <h2 id="projects-title" class="text-xl sm:text-2xl md:text-3xl font-semibold capitalize">
    Proyectos
  </h2>

  <ProjectsGrid />
</section>

