---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  
  <meta
    name="description"
    content="curriculum vitae, cv, Frontend Developer, Desarrollo Web"
  />

  <meta property="og:url" content="https://enrique.dev" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Bienvenido a mi portafolio web" />
  <meta property="og:description" content="Portafolio personal" />
  <meta property="og:image" content="" />
  <meta property="og:locale" content="es_MX" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@enrique.dev" />
  <meta name="twitter:creator" content="@enriqueSFranco" />
  <meta name="twitter:title" content="Bienvenido a mi portafolio web" />
  <meta name="twitter:description" content="Portafolio personal" />
  <meta name="author" content="Enrique SFranco" />
  <script src="../scripts/setInitialTheme.ts"></script>
</head>
