---
import Base from "./Base.astro";
import Footer from "@components/layout/Footer.astro";
import Prose from "@components/layout/Prose.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <Base title={title} />
  <body
    class="min-h-screen flex flex-col items-center text-balance tracking-normal bg-gray-950"
  >
    <Prose>
      <slot />
    </Prose>
    <Footer />
  </body>
</html>

<script src="@scripts/reveal.ts"></script>
