---

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta
      name='description'
      content='curriculum vitae, cv, Frontend Developer, Desarrollo Web'
    />
    <meta name='author' content='Enrique SFranco' />
    <title>{title}</title>
  </head>
  <body
    class='relative min-h-scree flex flex-col items-center bg-white text-black text-base tracking-normal font-inter'
  >
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* Register your custom font family and tell the browser where to find it. */
  @font-face {
    font-family: 'DistantGalaxy';
    src: url('/fonts/DistantGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
