---
interface Props {
  title?: string;
  subtitle?: string;
  class?: string; // Permitir clases extra para flexibilidad
}

const { title, subtitle, class: className } = Astro.props;
---

<section
  class:list={[
    "relative w-full py-16 md:py-28 max-w-7xl bg-(--bg-main)",
    className
  ]}
>
  <div class="container mx-auto px-6">
    {title && (
      <header class="mb-12 md:mb-20 flex flex-col md:flex-row md:items-end md:justify-between gap-4">
        <div class="space-y-2">
          {subtitle && (
            <span class="block font-mono text-[10px] md:text-xs uppercase tracking-[0.3em] text-(--accent-primary) animate-pulse">
              // {subtitle}
            </span>
          )}
          <h2
            class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-tighter text-(--text-primary)"
          >
            {title}<span class="text-(--accent-primary)">.</span>
          </h2>
        </div>

        <div class="hidden md:block h-px flex-1 mx-12 bg-(--border-subtle) opacity-50"></div>
      </header>
    )}

    <div class="w-full max-w-5xl mx-auto">
      <slot />
    </div>
  </div>

  <div class="absolute left-0 top-0 h-full w-1 bg-linear-to-b from-(--accent-primary)/20 to-transparent hidden lg:block opacity-20"></div>
</section>
