---
interface Props {
  variant?: 'primary' | 'outline' | 'neutral';
  customClass?: string;
  ariaLabel?: string;
  label: string
  icon?: string
}

const {label, variant = 'neutral', customClass = '', ariaLabel, icon}: Props = Astro.props

const variants = {
  primary: "bg-blue-600 text-white",
  outline: "bg-transparent border-gray-300 text-(--text-primary)",
  neutral: "bg-gray-200 text-(--text-secondary)"
}

console.log(variant)
---

<div class:list={[
    "inline-flex items-center gap-1.5 px-4 py-2 rounded-full border text-[10px] font-mono tracking-wider transition-all duration-300 select-none w-fit",
    variants[variant],
    customClass,
    ]}>
  {icon && <span class="shrink-0 size-3" aria-hidden="true"><i class={icon}></i></span>}
  <span class="leading-none font-light text-xs">
    {label}
  </span>
</div>
